.Product {
  border: 1px solid black;
  /* padding: 1rem; */
  border-radius: 14px;
  margin-bottom: 15px;
  margin: 1rem 0;
 
  width: 200px;
  height: 160px;
  margin-left: 15px;
}

.Product ul {
  list-style-position: inside;   
  padding-left: 0;
  
} 

